*{
  padding: 0;
  margin: 0;
}
span{
  float: left;
  display: block;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
  padding: 16px 0 0 50px;
}

header{
  background: rbga(0,0,0,0.5);
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav{
  float: right;
}

nav ul{
  list-style: none;
  overflow: hidden;
}

nav ul li{
  float: left;
  font-family: Arial;
  font-size: 16px;
}

nav ul li a{
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

#particles-js{
  background: #333030;
}

.ancho-letras{
  padding: 200px;
  padding-left: 50px;
  position: absolute;
  width: 60%;
  background: #;
  text-align: left;
  z-index: auto; /* Si presenta problemas, es necesario quitar esta linea */
}

.letras-sliders h1{
  color: #fff;
  font-family: Arial;
  font-size: 70px;
}

.letras-sliders p{
  color: #fff;
  font-size: 40px;
  font-family: Arial;
}

.main-footer{
  display: block;
  width: 100%;
  background: #333030;
  color: white;
  text-align: center;
}
